body {
  font-family: "Roboto", sans-serif;
  background-color: #292f33
}

.content {
  background-color: white;
  padding-bottom: 2em;
}

h1 {
  font-weight: 900;
  font-size: 3.746rem;
}

h2 {
  font-weight: 500;
  font-size: 2.315rem;
}

section {
  font-weight: 300;
  font-size: 1.431rem;
}
